@charset "UTF 8";

body{

    background-color: darkblue;
    color: aliceblue;
    width: 600px;
    margin: auto;
}

header{
    background-color:rgb(0, 128, 128);
    padding: 5px;
    text-align: center;
    margin: 0px;


}
section{
    background-color:blue
    
}

a{
color: white;
}

a:hover{

    color: blue;
    transition: all 0.3ms;
}


main{

    p

    border: 2px solid black;
    padding: 5px;
    background-color:blue
}

footer{
    background-color: black;
    text-align: center;
    padding: 2px;
}

footer > p{
    margin: 0;
}
