*{margin: 0px;

    padding: 0px;

}

body{
    background-image: url(../pacote-d013/imagens/fundo-madeira.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

main{
   position: relative;
   height: 100vh;
   
}

#telefone{
    height: 545px;
    width: 270px;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
   
    background-image: url(../pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    
  
   
}

.home{
    position: relative;
    top: 68px;
    left: 18px;

    width: 234px;
    height: 419px;
    
    
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    
  
}

.images{
    margin: 0px;
    width: 40px;
    border-radius:50%;
    padding: 5px
 
}

.images:hover{
    transition: transform 0.5s;
    transform: translate(3px, 3px);
    border: 0.2px solid rgba(255, 255, 255, 0.178);
}




